<%  if(widget.button.dbCommand) {
%>      <button type="submit"
                class="btn btn-block btn-<%= widget.button.style.toLowerCase() %>">
            <%= widget.text %>
        </button>
        <input type="hidden"
               name="callback-url"
               value="/developer/<%=username%>/website/<%=applicationId%>/page/<%=widget.button.navigate%>"/>
<%  } else {
%>      <a href="/developer/<%=username%>/website/<%=applicationId%>/page/<%=widget.button.navigate%>"
           class="btn btn-block btn-<%= widget.button.style.toLowerCase() %>">
            <%= widget.text %>
        </a>
<%  }
%>